---
import Hello from "../components/Hello.svelte";

const currentTime = new Date().toLocaleTimeString();
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro+Svelte demo-site</title>
  </head>
  <body>
    <div>
      <p>Hello! This is Astro component.</p>
      <p>{currentTime}</p>
    </div>
    <hr />
    <Hello client:visible />
  </body>
</html>
